In [1]:
sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'and', 'powerful', 'easy', 'is', 'python'}

In [3]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [6]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print()
print("Max:", maximum)
print()
print("Min:", minimum)
print()

List: [45, 22, 89, 10, 66]

Max: 89

Min: 10

In [7]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [8]:
attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [9]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [10]:
text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [11]:
numbers = [10, 20, 30]

converted_tuple = tuple(numbers)

print("Tuple:", converted_tuple)

Tuple: (10, 20, 30)

In [12]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [13]:
marks = [70, 75, 65, 80]

average = sum(marks) / len(marks)

print("Average Marks:", average)

Average Marks: 72.5